/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: 'MyAnimeFont';
  src: url('../src/app/assets/futura-bt-bold-italic.woff2') format('woff2');
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}